<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Book">

    <insert id="save" parameterType="com.icia.lib.dto.BookDTO">
        insert into book_table(bookName, bookPublisher, bookAuthor, bookPrice)
            values (#{bookName},#{bookPublisher},#{bookAuthor},#{bookPrice})
    </insert>

    <select id="findAll" resultType="book">
-- 세미클론 쓰면 안됨!
        select * from book_table
    </select>
</mapper>














